<h2>Por pais</h2>
<hr>
<div class="row">
    <div class="col">
        <form (ngSubmit)="buscar()" autocomplete="off">
            <input type="text" name="termino" placeholder="Buscar pais..." class="form-control" [(ngModel)]="termino"/>
        </form>
    </div>
</div>

<hr>

<div *ngIf="ocurrioError" class="alert alert-danger">
    No se ha encontrado nada con el termino <b>{{ termino }}</b>
</div>

<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <th>#</th>
                <th>Bandera</th>
                <th>Nombre</th>
                <th>Poblacion</th>
                <th>Ver mas</th>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>