<div class="animate__animated animate__fadeIn">
  <h2>Por capital</h2>
  <hr />
  <div class="row">
    <div class="col">
      <app-pais-input
        (onEnterTermino)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        [_placeholder]="_placeholder"
      >
      </app-pais-input>
    </div>
  </div>
</div>

<hr />

<div *ngIf="ocurrioError" class="alert alert-danger">
  No se ha encontrado nada con el termino <b>{{ termino }}</b>
</div>

<div *ngIf="countries.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [countries]="countries"></app-pais-tabla>
  </div>
</div>
